* {
    margin: 0;
    padding: 0;
    border: none;
}

.body {
    height: 100vh;
}

.header {
    height: 30vh;
    background-color: bisque;
    display: flex;
    align-items: center;
}

.main {
    height: 40vh;
    background-color: rgb(196, 231, 219);
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    height: 30vh;
    background-color: rgb(226, 195, 255);
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.text {
    font-size: 10vh;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(68, 10, 10);
}

.text:hover {
    color: orange;
}